DW_DATABASE_URL=postgresql://$DW_USER:$DW_PASSWORD@$DW_HOST:5432/$DW_DATABASE
DATABASE_URL="mysql://$MYSQL_USER:$MYSQL_PASSWORD@$MYSQL_HOST:3306/$MYSQL_DATABASE?serverVersion=13&charset=utf8"

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=changeme

API_DB_USER=api_user
API_DB_PASS=api_pass
API_DB_NAME=api_db
API_DB_BACKUP_DESTINATION=/tmp/